[[extend 'layout.html']]

<div class="section">

   [[=URL('myendpoint', vars={"q": "dig"}, params=[3,4])]]
   <!-- Would be the url: /myapp/myendpoint/3/4?q=dig -->

   <div>Enter product name:</div>
   <div>
      <form action="[[=URL('add')]]" method="POST">
         <div class="field">
            <input class="input" type="text" name="product_name" placeholder="Write product here" />
         </div>
         <input type="submit" class="button" value="Submit" />
      </form>
   </div>
</div>